<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./STATIC/Css/style.css">
</head>

<body>
    <div class="NavBar">


        <img class="Navbar-BG-Img" src="./STATIC/Images/Nav_comp1 003.png" alt="">

        <div class="NavBar-Titles">
            <ul>
                <li>HOME</li>
                <li>MENU</li>
                <li>ABOUT</li>

                <h2 id="logo">LO <span>GO</span></h2>

                <li>CATERING</li>
                <li>TIFFIN SERVICE</li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="Comp1">

            <div class="Comp1-Left-Part">
                <div class="Heading-Part1">
                    <div class="Comp1-Heading-Title1">UNFORGETTABLE <br><span class="Comp1-Heading-Main1">FOOD</span>
                    </div>
                    <!-- <div class="Comp1-Heading-Main1">FOOD</div> -->


                </div>
                <div class="Heading-Part2">
                    <div class="Comp1-Heading-Title2">UNFORGETTABLE<br><span class="Comp1-Heading-Main2">MEMORIES</span>
                    </div>
                    <!-- <div class="Comp1-Heading-Main2">MEMORIES</div> -->
                </div>


                <div class="Comp1-Card-Part">

                    <div class="Comp1-Card">
                        <div class="Comp1-Card-Img">
                            <img class="img5" src="./STATIC/Images/comp1 006.png" alt="">
                        </div>

                        <h6>Lorem ipsum dolor sit amet sit amet</h6>
                    </div>

                    <div class="Comp1-Card">
                        <div class="Comp1-Card-Img">
                            <img class="img6" src="./STATIC/Images/comp1 007.png" alt="">
                        </div>

                        <h6>Lorem ipsum dolor sit amet sit amet</h6>
                    </div>

                    <div class="Comp1-Card">
                        <div class="Comp1-Card-Img">
                            <img class="img7" src="./STATIC/Images/comp1 008.png" alt="">
                        </div>

                        <h6>Lorem ipsum dolor sit amet sit amet.</h6>
                    </div>
                </div>

                <div class="Comp1-Left-Part-Text-Button">
                    <button>View All</button>
                </div>
            </div>
            <div class="Comp1-Right-Part">
                <div class="comp1-right-img"><img src="./STATIC/Images/comp1 004.png" alt="">
                </div>
                <div class="Comp1-Right-Part-Img1">
                    <img src="./STATIC/Images/comp1 005.png" alt="">
                </div>

                <div class="Comp1-Right-Part-Img2">
                    <img src="./STATIC/Images/01.png" alt="">
                </div>

            </div>
        </div>







        <div class="Comp2">

            <div class="Comp2-Right-Part-Text">
                <h1 class="Comp2-Right-Part-Text-heading1">Our Special</h1>
                <h1 class="Comp2-Right-Part-Text-heading2">Menu Offer</h1>
                <div class="Comp2-Right-Part-Text-Dec1">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley</p><br>
                    <p>Lorem ipsum, dolor sit amet consectetur ad beatae praesentium officia ipsam labore modi?
                        Molestiae laborum sapiente deserunt maiores.</p>
                </div>

                <div class="Comp2-Right-Part-Text-Button">
                    <button>View All</button>
                </div>

            </div>

            <div class="Comp2-Left-Part-Offer-Img">
                <div class="Comp2-Offer-Img">
                    <img src="./STATIC/Images/comp2 001.png" alt="">
                    <img src="./STATIC/Images/comp2 001.png" alt="">
                    <img src="./STATIC/Images/comp2 001.png" alt="">
                    <img src="./STATIC/Images/comp2 001.png" alt="">
                    <img src="./STATIC/Images/comp2 001.png" alt="">
                    <img src="./STATIC/Images/comp2 001.png" alt="">
                    <img src="./STATIC/Images/comp2 001.png" alt="">
                    <img src="./STATIC/Images/comp2 001.png" alt="">
                    <img src="./STATIC/Images/comp2 001.png" alt="">
                    <img src="./STATIC/Images/comp2 001.png" alt="">
                    <img src="./STATIC/Images/comp2 001.png" alt="">

                </div>



                <div class="Comp2-Left-Part-Dish-Img">
                    <div class="Comp2-Circle-Img">
                        <div class="Comp2-Circle-Text">
                            <h4>UPTO</h4><br>
                            <h5><strong style="color: #02b8d0; font-size: 30px;">50% </strong>OFF</h5><br>
                            <p> FOR THIS WEEK</p>
                        </div>

                        <img src="./STATIC/Images/Comp2 circle 005.png" alt="">
                    </div>

                    <div class="Comp2-Drop-Img">
                        <img src="./STATIC/Images/Comp2 Drops 003.png" alt="">
                    </div>

                    <div class="Comp2-Dish-Img">
                        <img src="./STATIC/Images/comp2 002.png" alt="">
                    </div>


                    <div class="Comp2-Shadow-Img">
                        <img src="./STATIC/Images/Comp2 Shadow 003.png" alt="">
                    </div>
                </div>
            </div>



        </div>
        <!-- </div> -->

        <div class="comp3">
            <div class="comp3-left-part-text">
                <div class="comp3-left-part-text-heading1">About the</div>
                <div class="comp3-left-part-text-heading2">Brand Name Menu</div>
                <div class="comp3-left-part-text-para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                    aperiam quo eos aspernatur praesentium illum hic molestiae modi ipsa voluptatum, at dolore dolorum
                    cum tenetur vel ab maxime culpa voluptas veniam nesciunt voluptatem voluptates?<br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                    aperiam quo eos aspernatur praesentium illum hic molestiae modi ipsa voluptatum, at dolore dolorum
                    cum tenetur vel ab maxime culpa voluptas veniam nesciunt voluptatem voluptates?<br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                    aperiam quo eos aspernatur praesentium illum hic molestiae modi ipsa voluptatum, at dolore dolorum
                    cum tenetur vel ab maxime culpa voluptas veniam nesciunt voluptatem voluptates?<br><br>
                    <div class="comp3-left-part-text-Button">
                        <button>View All</button>
                    </div>
                </div>
            </div>
            <div class="comp3-right-part">
                <div class="comp3-right-part-text">
                    <div class="comp3-img1"><img class="comp3-right-part-text-image1"
                            src="./STATIC/Images/Comp3 001.png" alt=""></div>
                    <div class="comp3-img2"><img class="comp3-right-part-text-image2"
                            src="./STATIC/Images/comp3 003.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="comp4">

        <div class="comp4-right-part-text">
            <div class="comp4-right-part-text-heading1">About the</div>
            <div class="comp4-right-part-text-heading2">Brand Catering</div>
            <div class="comp4-right-part-text-para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                aperiam quo eos aspernatur praesentium illum hic molestiae modi ipsa voluptatum, at dolore
                dolorum
                cum tenetur vel ab maxime culpa voluptas veniam nesciunt voluptatem voluptates?<br><br>
                Porro, in tempore magnam provident dolorem deserunt illo sit ipsa eius quia aliquam. Enim
                reiciendis
                <br><br>
                repellendus iure illum aliquid rem a ducimus sunt, unde quaerat dignissimos amet nam asperiores
                doloribus voluptas blanditiis necessitatibus perspiciatis et fugit vitae omnis quis architecto
            </div>
            <div class="comp4-right-part-text-Button">
                <button>View All</button>
            </div>

        </div>
        <div class="comp4-left-part">

            <div class="comp4-left-part-IMG">
                <div class="comp4-img1"><img class="comp4-left-part-IMG-img1" src="./STATIC/Images/Comp4 001.png"
                        alt=""></div>
                <div class="comp4-img2"><img class="comp4-left-part-IMG-img2" src="./STATIC/Images/comp4 002.png"
                        alt=""></div>
            </div>
        </div>
    </div>
    <div class="comp5">
        <div class="comp5-img1"><img class="comp5-full-page-IMG-img1" src="./STATIC/Images/comp5 001.png" alt=""></div>
        <div class="comp5-img3"><img class="comp5-full-page-IMG-img2" src="./STATIC/Images/comp5 002.png" alt=""></div>
        <div class="comp5-full-page-IMG" style="position: relative; z-index: 10;">
            <div class="comp5-left-part-text">
                <h1 class="comp5-left-part-text-heading1">THOUGHT</h1>
                <p class="comp5-left-part-text-para1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ipsum
                    nobis quam repellendus fugit. Libero necessitatibus blanditiis quibusdam, perspiciatis rem
                    commodi!</p>
            </div>
            <div class="comp5-right-part-IMG">
                <div class="comp5-img2"><img class="comp5-right-part-IMG-img1" src="./STATIC/Images/comp5 003.png"
                        alt=""></div>
            </div>
        </div>



    </div>
    <div class="comp6">
        <div class="comp6-box">

            <div class="comp6-img1"><img class="comp6-left-box-img1" src="./STATIC/Images/comp6 002.png" alt="">
            </div>
            <!-- <div class="outer"></div> -->
            <div class="comp6-left-box-heading1">Unbeliveable Food</div>
            <div class="comp6-left-box-para1">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Magni, nesciunt.
            </div>
        </div>
        <div class="comp6-box">

            <div class="comp6-img2"><img class="comp6-middle-box-img1" src="./STATIC/Images/comp6 003.png" alt="">
            </div>
            <div class="comp6-middle-box-heading1">Inspired Presentation</div>
            <div class="comp6-middle-box-para1">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Magni, nesciunt.
            </div>
        </div>
        <div class="comp6-box">

            <div class="comp6-img3"><img class="comp6-right-box-img1" src="./STATIC/Images/comp6 004.png" alt="">
            </div>
            <div class="comp6-right-box-heading1">One Kind Of Experience</div>
            <div class="comp6-right-box-para1">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Magni, nesciunt.
            </div>
        </div>
    </div>
    <div class="comp7">
        <div class="comp7-left-part-text">
            <div class="comp7-left-part-text-heading1">Content Of You Brand Type Here Only</div>
            <div class="comp7-left-content">
                <div class="comp7-content1">
                    <div class="comp7-img1"><img class="comp7-left-part-img1" src="./STATIC/Images/comp7 002.png"
                            alt=""></div>
                    <div class="comp7-data1">
                        <div class="comp7-left-part-text-heading2">WEDDING</div>
                        <div class="comp7-left-part-text-para1">Lorem ipsum dolor, sit amet consectetur
                            adipisicing
                            elit.
                            Iure,
                            rerum.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>

                    </div>
                </div>
                <div class="comp7-content2">
                    <div class="comp7-img2"><img class="comp7-left-part-img2" src="./STATIC/Images/comp7 002.png"
                            alt=""></div>
                    <div class="comp7-data2">
                        <div class="comp7-left-part-text-heading3">SOCIAL</div>
                        <div class="comp7-left-part-text-para2">Lorem ipsum dolor, sit amet consectetur
                            adipisicing
                            elit.
                            Iure,
                            rerum.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>

                    </div>
                </div>
                <div class="comp7-content3">
                    <div class="comp7-img3"><img class="comp7-left-part-img3" src="./STATIC/Images/comp7 002.png"
                            alt=""></div>
                    <div class="comp7-data3">
                        <div class="comp7-left-part-text-heading4">CORPORATE</div>
                        <div class="comp7-left-part-text-para3">Lorem ipsum dolor, sit amet consectetur
                            adipisicing
                            elit.
                            Iure,
                            rerum.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>

                    </div>
                </div>
            </div>
        </div>
        <div class="comp7-right-part">
            <div class="comp7-right-part-text">
                <div class="comp7-right-part-text-heading1">We're full service whiich means we've got you
                    covered
                    on design and content right through to digital</div>
                <div class="comp7-right-part-text-para1">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.
                    Quia sequi et fugiat necessitatibus non eos veritatis minima teneturexpedita earum!</div>
            </div>
            <div class="comp7-right-imgs">
                <div class="comp7-right-img1"><img class="comp7-right-part-text-img1"
                        src="./STATIC/Images/comp7 005.png" alt=""></div>
                <div class="comp7-right-img2"><img class="comp7-right-part-text-img2"
                        src="./STATIC/Images/comp7 004.png" alt=""></div>
            </div>

        </div>
    </div>
    <div class="comp8">
        <div class="comp8-left">
            <div class="comp8-left-part-text">
                <div class="comp8-left-part-text-heading1">WE'RE CREATIVE AGENCY</div>
                <div class="comp8-left-part-text-heading2">Our Exclusive Services</div>
                <div class="comp8-left-part-text-para1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nihil
                    impedit corporis, magni eos, dolorum eum sed, ut molestias dolor dolorem est amet laborum a
                    eveniet
                    consectetur eius voluptas suscipit facilis.</div>
                <div class="comp8-left-part-text-Button">
                    <button>All SERVICES</button>
                </div>
            </div>
        </div>
        <div class="comp8-right">
            <div class="comp8-right-part-box">
                <div class="comp8-right-part-heading1">VANUES</div>
                <div class="comp8-right-part-para">Responsive Layout <br>
                    Website Redesign <br>
                    Landing Page <br>
                    Mobile Website <br>
                </div>
                <div class="comp8-right-part-heading2">EXPLORE MORE &nbsp; &nbsp;<i class="fa-solid fa-arrow-right"></i>
                </div> <br>
            </div>
            <div class="comp8-right-part-box">
                <div class="comp8-right-part-heading1">VANUES</div>
                <div class="comp8-right-part-para">Responsive Layout <br>
                    Website Redesign <br>
                    Landing Page <br>
                    Mobile Website <br>
                </div>
                <div class="comp8-right-part-heading2">EXPLORE MORE &nbsp; &nbsp;<i class="fa-solid fa-arrow-right"></i>
                </div> <br>
            </div>
            <div class="comp8-right-part-box">
                <div class="comp8-right-part-heading1">VANUES</div>
                <div class="comp8-right-part-para">Responsive Layout <br>
                    Website Redesign <br>
                    Landing Page <br>
                    Mobile Website <br>
                </div>
                <div class="comp8-right-part-heading2">EXPLORE MORE &nbsp; &nbsp;<i class="fa-solid fa-arrow-right"></i>
                </div> <br>
            </div>
            <div class="comp8-right-part-box">
                <div class="comp8-right-part-heading1">VANUES</div>
                <div class="comp8-right-part-para">Responsive Layout <br>
                    Website Redesign <br>
                    Landing Page <br>
                    Mobile Website <br>
                </div>
                <div class="comp8-right-part-heading2">EXPLORE MORE &nbsp; &nbsp;<i class="fa-solid fa-arrow-right"></i>
                </div> <br>
            </div>
        </div>
    </div>
    <div class="comp9">
        <div class="comp9-top-content">
            <div class="comp9-heading1">Call us or Visit place</div>
            <div class="comp9-para1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        </div>
        <div class="comp9-content">
            <div class="left">
                <div class="comp9-left-part">
                    <div class="comp9-left-part-heading2">Information</div>
                    <div class="comp9-left-main-content">
                        <div class="comp9-left-div1">
                            <div class="comp9-left-img1"><img class="comp9-left-part-img1"
                                    src="./STATIC/Images/comp9 001.png" alt=""></div>
                            <div class="comp9-left-part1">
                                <div class="comp9-left-part-heading3">Phone</div>
                                <div class="comp9-left-part-para1">919-466-0888/ 919-466-0777</div>
                            </div>
                        </div>
                        <div class="comp9-left-div1">
                            <div class="comp9-left-img1"><img class="comp9-left-part-img1"
                                    src="./STATIC/Images/comp9 001.png" alt=""></div>
                            <div class="comp9-left-part1">
                                <div class="comp9-left-part-heading3">Address</div>
                                <div class="comp9-left-part-para1">1216 Parkside main street,Carry,Nc 27519</div>
                            </div>
                        </div>
                        <div class="comp9-left-div1">
                            <div class="comp9-left-img1"><img class="comp9-left-part-img1"
                                    src="./STATIC/Images/comp9 001.png" alt=""></div>
                            <div class="comp9-left-part1">
                                <div class="comp9-left-part-heading3">Email</div>
                                <div class="comp9-left-part-para1">workon firertp@gmail.com</div>
                            </div>
                        </div>
                        <div class="comp9-left-div1">
                            <div class="comp9-left-img1"><img class="comp9-left-part-img1"
                                    src="./STATIC/Images/comp9 001.png" alt=""></div>
                            <div class="comp9-left-part1">
                                <div class="comp9-left-part-heading3">Follow us</div>
                                <div class="comp9-left-part-img2">
                                    <img class="img2" src="./STATIC/Images/comp9 005.png" alt="">
                                    <img class="img2" src="./STATIC/Images/comp9 006.png" alt="">
                                    <img class="img2" src="./STATIC/Images/comp9 007.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="comp9-right-part">
                    <div class="comp9-right-part-heading1">Send Us a Message</div>
                    <div class="comp9-input">
                        <input class="comp9-input1" type="text" placeholder="Name">
                        <input class="comp9-input1" type="text" placeholder="Email">
                        <input class="comp9-input2" type="text" placeholder="Phone No">
                        <input class="comp9-input3" type="text" placeholder="Comments">
                    </div>
                    <div class="comp9-right-part-text-Button">
                        <button>SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="comp10">
        <div class="comp10-top">
            <div class="comp10-left-part">
                <h1 class="comp10-left-part-heading1">MENU THAT ALWAYS<br> MAKE YOU <span>FALL IN LOVE</span>
                </h1>
            </div>
            <div class="comp10-right-part">
                <div class="comp10-right-part-text-Button">
                    <button>DOWNLOAD TAKE AWAY CATALOG</button>
                    <button>DOWNLOAD TAKE AWAY CATALOG</button>
                </div>

            </div>

        </div>
        <div class="comp10-carousel" id="myDiv">
            <ul>
                <li class="nav-item active"><a href="#component1">NOODLES</a></li>
                <li class="nav-item"><a href="#component2">MOMOS</a></li>
                <li class="nav-item"><a href="#component3">RICE</a></li>
                <li class="nav-item"><a href="#component4">BURGERS</a></li>
                <li class="nav-item"><a href="#component5">PASTA</a></li>
                <li class="nav-item"><a href="#component6">RICE</a></li>
                <li class="nav-item"><a href="#component7">CURRIES</a></li>
                <li class="nav-item"><a href="#component8">DESSERTS</a></li>
            </ul>
        </div>
        <div class="comp10-all-content">
            <div class="comp10-components" id="components">
                <div class="comp10-component1">
                    <div class="comp10-img1"><img src="08.jpg"></img></div>
                    <div class="comp10-content1">
                        <div class="comp10-content-heading">Veggie Hakka Noodles</div>
                        <div class="comp10-content-subheading">Available</div>
                    </div>
                </div>
                <div class="comp10-component2">
                    <div class="comp10-img2"><img src="06.jpg"></img></div>
                    <div class="comp10-content2">
                        <div class="comp10-content-heading">Veggie Hakka Noodles</div>
                        <div class="comp10-content-subheading">Available</div>
                    </div>
                </div>
                <div class="comp10-component3">
                    <div class="comp10-img3"><img src="07.jpg"></img></div>
                    <div class="comp10-content3">
                        <div class="comp10-content-heading">Veggie Hakka Noodles</div>
                        <div class="comp10-content-subheading">Available</div>
                    </div>
                </div>
                <div class="comp10-component4">
                    <div class="comp10-img4"><img src="08.jpg"></img></div>
                    <div class="comp10-content4">
                        <div class="comp10-content-heading">Veggie Hakka Noodles</div>
                        <div class="comp10-content-subheading"></div>
                    </div>
                </div>
                <div class="comp10-component5">
                    <div class="comp10-img5"><img src="07.jpg"></img></div>
                    <div class="comp10-content5">
                        <div class="comp10-content-heading">Veggie Hakka Noodles</div>
                        <div class="comp10-content-subheading"></div>
                    </div>
                </div>
                <div class="comp10-component6">
                    <div class="comp10-img6"><img src="06.jpg"></img></div>
                    <div class="comp10-content6">
                        <div class="comp10-content-heading">Veggie Hakka Noodles</div>
                        <div class="comp10-content-subheading"></div>
                    </div>
                </div>
            </div>
            <!-- <div class="comp10-components" id="components">
                    <div class="comp10-component1">
                        <div class="comp10-img1"><img src="08.jpg"></img></div>
                        <div class="comp10-content1">
                            <div class="comp10-content-heading">Fried Momos</div>
                            <div class="comp10-content-subheading">Available</div>
                        </div>
                    </div>
                    <div class="comp10-component2">
                        <div class="comp10-img2"><img src="06.jpg"></img></div>
                        <div class="comp10-content2">
                            <div class="comp10-content-heading">Fried Momos</div>
                            <div class="comp10-content-subheading">Available</div>
                        </div>
                    </div>
                    <div class="comp10-component3">
                        <div class="comp10-img3"><img src="07.jpg"></img></div>
                        <div class="comp10-content3">
                            <div class="comp10-content-heading">Fried Momos</div>
                            <div class="comp10-content-subheading">Available</div>
                        </div>
                    </div>
                    <div class="comp10-component4">
                        <div class="comp10-img4"><img src="08.jpg"></img></div>
                        <div class="comp10-content4">
                            <div class="comp10-content-heading">Fried Momos</div>
                            <div class="comp10-content-subheading"></div>
                        </div>
                    </div>
                    <div class="comp10-component5">
                        <div class="comp10-img5"><img src="07.jpg"></img></div>
                        <div class="comp10-content5">
                            <div class="comp10-content-heading">Fried Momos</div>
                            <div class="comp10-content-subheading"></div>
                        </div>
                    </div>
                    <div class="comp10-component6">
                        <div class="comp10-img6"><img src="06.jpg"></img></div>
                        <div class="comp10-content6">
                            <div class="comp10-content-heading">Fried Momos</div>
                            <div class="comp10-content-subheading"></div>
                        </div>
                    </div>
                </div> -->
        </div>
    </div>
    </div>

    <!-- comp11 -->
    <!-- comp11 -->
    <!-- comp11 -->
    <!-- comp11 -->
    <!-- comp11 -->
    <div class="comp11">
        <div class="comp11-top">
            <div class="comp11-left">
                <div class="comp11-left-top">OUR</div>
                <div class="comp11-left-down">Instagram Posts</div>
            </div>
            <div class="comp11-right"><button>VIEW ALL</button></div>
        </div>
        <div class="comp11-down">
            <div class="comp11-down-div1">
                <div class="comp11-above"><img src="010.jpg" alt="" srcset=""></div>
                <div class="comp11-below">
                    <div class="comp11-below-heading">THE STANDARD LOREM IPSUM PASSAGE USED SINCE</div>
                    <div class="comp11-below-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Nostrum,
                        rerum pariatur autem debitis modi quam placeat quidem tempore culpa voluptate veritatis
                        officia.
                    </div>
                    <div class="comp11-below-photo"><img src="layer_9.png" alt="" srcset=""></div>
                </div>
            </div>
            <div class="comp11-down-div1">
                <div class="comp11-above"><img src="010.jpg" alt="" srcset=""></div>
                <div class="comp11-below">
                    <div class="comp11-below-heading">THE STANDARD LOREM IPSUM PASSAGE USED SINCE</div>
                    <div class="comp11-below-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Nostrum,
                        rerum pariatur autem debitis modi quam placeat quidem tempore culpa voluptate veritatis
                        officia.
                    </div>
                    <div class="comp11-below-photo"><img src="layer_9.png" alt="" srcset=""></div>
                </div>
            </div>
            <div class="comp11-down-div1">
                <div class="comp11-above"><img src="010.jpg" alt="" srcset=""></div>
                <div class="comp11-below">
                    <div class="comp11-below-heading">THE STANDARD LOREM IPSUM PASSAGE USED SINCE</div>
                    <div class="comp11-below-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Nostrum,
                        rerum pariatur autem debitis modi quam placeat quidem tempore culpa voluptate veritatis
                        officia.
                    </div>
                    <div class="comp11-below-photo"><img src="layer_9.png" alt="" srcset=""></div>
                </div>
            </div>
            <div class="comp11-down-div1">
                <div class="comp11-above"><img src="010.jpg" alt="" srcset=""></div>
                <div class="comp11-below">
                    <div class="comp11-below-heading">THE STANDARD LOREM IPSUM PASSAGE USED SINCE</div>
                    <div class="comp11-below-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Nostrum,
                        rerum pariatur autem debitis modi quam placeat quidem tempore culpa voluptate veritatis
                        officia.
                    </div>
                    <div class="comp11-below-photo"><img src="layer_9.png" alt="" srcset=""></div>
                </div>
            </div>
            <div class="comp11-down-div1">
                <div class="comp11-above"><img src="010.jpg" alt="" srcset=""></div>
                <div class="comp11-below">
                    <div class="comp11-below-heading">THE STANDARD LOREM IPSUM PASSAGE USED SINCE</div>
                    <div class="comp11-below-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Nostrum,
                        rerum pariatur autem debitis modi quam placeat quidem tempore culpa voluptate veritatis
                        officia.
                    </div>
                    <div class="comp11-below-photo"><img src="layer_9.png" alt="" srcset=""></div>
                </div>
            </div>
            <div class="comp11-down-div1">
                <div class="comp11-above"><img src="010.jpg" alt="" srcset=""></div>
                <div class="comp11-below">
                    <div class="comp11-below-heading">THE STANDARD LOREM IPSUM PASSAGE USED SINCE</div>
                    <div class="comp11-below-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Nostrum,
                        rerum pariatur autem debitis modi quam placeat quidem tempore culpa voluptate veritatis
                        officia.
                    </div>
                    <div class="comp11-below-photo"><img src="layer_9.png" alt="" srcset=""></div>
                </div>
            </div>
            <div class="comp11-down-div1">
                <div class="comp11-above"><img src="010.jpg" alt="" srcset=""></div>
                <div class="comp11-below">
                    <div class="comp11-below-heading">THE STANDARD LOREM IPSUM PASSAGE USED SINCE</div>
                    <div class="comp11-below-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Nostrum,
                        rerum pariatur autem debitis modi quam placeat quidem tempore culpa voluptate veritatis
                        officia.
                    </div>
                    <div class="comp11-below-photo"><img src="layer_9.png" alt="" srcset=""></div>
                </div>
            </div>
            <div class="comp11-down-div1">
                <div class="comp11-above"><img src="010.jpg" alt="" srcset=""></div>
                <div class="comp11-below">
                    <div class="comp11-below-heading">THE STANDARD LOREM IPSUM PASSAGE USED SINCE</div>
                    <div class="comp11-below-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Nostrum,
                        rerum pariatur autem debitis modi quam placeat quidem tempore culpa voluptate veritatis
                        officia.
                    </div>
                    <div class="comp11-below-photo"><img src="layer_9.png" alt="" srcset=""></div>
                </div>
            </div>
            <div class="comp11-down-div1">
                <div class="comp11-above"><img src="010.jpg" alt="" srcset=""></div>
                <div class="comp11-below">
                    <div class="comp11-below-heading">THE STANDARD LOREM IPSUM PASSAGE USED SINCE</div>
                    <div class="comp11-below-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Nostrum,
                        rerum pariatur autem debitis modi quam placeat quidem tempore culpa voluptate veritatis
                        officia.
                    </div>
                    <div class="comp11-below-photo"><img src="layer_9.png" alt="" srcset=""></div>
                </div>
            </div>
            <div class="comp11-down-div1">
                <div class="comp11-above"><img src="010.jpg" alt="" srcset=""></div>
                <div class="comp11-below">
                    <div class="comp11-below-heading">THE STANDARD LOREM IPSUM PASSAGE USED SINCE</div>
                    <div class="comp11-below-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Nostrum,
                        rerum pariatur autem debitis modi quam placeat quidem tempore culpa voluptate veritatis
                        officia.
                    </div>
                    <div class="comp11-below-photo"><img src="layer_9.png" alt="" srcset=""></div>
                </div>
            </div>
            <div class="comp11-down-div1">
                <div class="comp11-above"><img src="010.jpg" alt="" srcset=""></div>
                <div class="comp11-below">
                    <div class="comp11-below-heading">THE STANDARD LOREM IPSUM PASSAGE USED SINCE</div>
                    <div class="comp11-below-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Nostrum,
                        rerum pariatur autem debitis modi quam placeat quidem tempore culpa voluptate veritatis
                        officia.
                    </div>
                    <div class="comp11-below-photo"><img src="layer_9.png" alt="" srcset=""></div>
                </div>
            </div>
            <div class="comp11-down-div1">
                <div class="comp11-above"><img src="010.jpg" alt="" srcset=""></div>
                <div class="comp11-below">
                    <div class="comp11-below-heading">THE STANDARD LOREM IPSUM PASSAGE USED SINCE</div>
                    <div class="comp11-below-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Nostrum,
                        rerum pariatur autem debitis modi quam placeat quidem tempore culpa voluptate veritatis
                        officia.
                    </div>
                    <div class="comp11-below-photo"><img src="layer_9.png" alt="" srcset=""></div>
                </div>
            </div>

        </div>
    </div>
    <!-- comp12 -->
    <!-- comp12 -->
    <!-- comp12 -->
    <!-- comp12 -->
    <!-- comp12 -->
    <div class="comp12">
        <div class="comp12-content">
            <div class="comp12-left">
                <div class="comp12-left-div1">
                    <div class="comp12-div1-heading">Our Plans</div>
                    <div class="comp12-div1-subheading">Free Delivery on 30 Days & Above Subscriptions</div>
                </div>
                <div class="comp12-left-div2">
                    <div class="comp12-divs">Veg/Non-Veg</div>
                    <div class="comp12-divs">Single Meal</div>
                    <div class="comp12-divs">30 Days Plan</div>
                    <div class="comp12-divs">Delivery Charges</div>
                    <div class="comp12-divs">Veg</div>
                    <div class="comp12-divs">200</div>
                    <div class="comp12-divs">6000</div>
                    <div class="comp12-divs">Free</div>
                    <div class="comp12-divs">Non-Veg</div>
                    <div class="comp12-divs">250</div>
                    <div class="comp12-divs">7500</div>
                    <div class="comp12-divs">Free</div>
                </div>
                <div class="comp12-left-div3">
                    <div class="comp12-btns">
                        <div class="comp12-btn1"><button>Quick Sign Up</button></div>
                        <div class="comp12-btn2"><button>Get a Call Back</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comp12-right">
            <div class="comp12-right-pic"><img src="04.jpg" alt="" srcset=""></div>
        </div>
    </div>

    <!-- footer -->
    <!-- footer -->
    <div class="footer">
        <div class="footer-up">
            <div class="div1">
                <div class="div1-heading">Logo</div>
                <div class="div1-content">
                    <div class="lang">
                        <label for="language">Language : </label>
                        <select name="lan" id="lan">
                            <option value="english">English(UK)</option>
                            <option value="german">German</option>
                            <option value="spanish">Spanish</option>
                            <option value="french">French</option>
                        </select>
                    </div>
                    <div class="sign">
                        <div class="sign-in">SIGN IN</div>
                        <div class="sign-up">SIGN UP</div>
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="div2-heading">OUR SERVICES</div>
                <div class="div2-content">
                    <ul>
                        <li>Food</li>
                        <li>Food</li>
                        <li>Food</li>
                        <li>Food</li>
                        <li>Food</li>
                    </ul>
                </div>
            </div>
            <div class="div3">
                <div class="div3-heading">QUICK LINKS</div>
                <div class="div3-content">
                    <ul>
                        <li>Payment options</li>
                        <li>Fee Schedule</li>
                        <li>Getting Started</li>
                        <li>Card Identification</li>
                        <li>Identity Verification</li>
                    </ul>
                </div>
            </div>
            <div class="div4">
                <div class="div4-heading">OUR EVENT</div>
                <div class="div4-content">
                    <div class="div-up">
                        <div class="div-up-left">10:00 PM</div>
                        <div class="div-up-right">
                            <ul>
                                <li>New York City</li>
                                <li>09-04-2018</li>
                            </ul>
                        </div>
                    </div>
                    <div class="div-down">
                        <div class="div-down-left">12:00 PM</div>
                        <div class="div-down-right">
                            <ul>
                                <li>Los Angeles</li>
                                <li>09-04-2018</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-down">
            <div class="footer-down-left">Privacy Policy, Terms & Conditions</div>
            <div class="footer-down-right">
                <div class="footer-down-right-up">Connect with us</div>
                <div class="footer-down-right-down">
                    <i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-google-plus-g" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-pinterest" style="color: #ffffff;"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="./STATIC/Js/script.js"></script>
    <script src="https://kit.fontawesome.com/b4e8df59ed.js" crossorigin="anonymous"></script>
</body>

</html>